.root {
}
.root {
  display: block;
  width: 100vw;
  height: 100vh;
  min-width: 440px;
  min-height: 660px;
}
.scaffoldnav {
  background-color: #958771;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  padding: 20px;
  color: #f0e8e8;
  text-align: end;
  font-weight: 700;
  font-variant: all-petite-caps;
}
.link {
  color: #fdfdfd;
  margin: 5px;
  padding-right: 12px;
  padding-left: 12px;
}
